@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto+Slab:wght@100..900&display=swap');
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
.UserRecovery {
    background: radial-gradient(circle, hsla(6, 79%, 85%, 1) 0%, hsla(49, 100%, 65%, 1) 100%);
    padding: 20px;
    min-height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
    position: relative;
  }

  .logocontainer {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.logo{
    max-width: 400px;
    height: auto;
    max-height: 400px;
}
.formcontainer {
    height: 240px;
    position: relative;
    z-index: 1;
    padding: 4vw;
    border-radius: 1vw; 
    overflow: hidden;
    background-color: rgba(240, 226, 205, 0.75); 
    backdrop-filter: blur(2vw);
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    width: 20%;
    max-width: 600px; 
    margin: 5% auto;
    color:#cfa352;
    text-align: center;
    
  }

  .formcontent {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .formcontainer input[type="email"] {
    border: none; 
    border-bottom: 2px solid #cfa352; 
    background: transparent; 
    margin: 5px; 
    padding: 8px; 
    width: 100%; 
    box-sizing: border-box;
    outline: none;
    font-family: "Quicksand", serif; 
    margin-bottom: 20px;  
  }

  .formcontainer button[type="submit"] {
    background-color: #c57a18; 
    color: #e5c6ce; 
    border: none;
    padding: 10px 20px; 
    cursor: pointer; 
    border-radius: 1vw; 
    width: 100%; 
    box-sizing: border-box; 
    font-family: "Quicksand", serif; 
    font-size: 16px; 
    margin-bottom: 20px;
    font-weight:200;
  }

  .formcontainer button[type="submit"]:hover {
    background-color: #ec6587; 
  }

  .p{
    font-family: "Quicksand", serif;
    font-size: 28px;
    color:#cfa352;
}

.linkButton{
    background-color: transparent; 
    color: #cfa352; 
    border: none;
    padding: 0; 
    cursor: pointer;
    border-radius: 0; 
    width: auto;
    box-sizing: border-box;
    font-family: "Quicksand", serif;
    font-size: 18px;
    text-decoration: underline; 
    margin-bottom: 20px;
  }

